.jumbotron {
    background-color: dimgray;
    color: #ffd2d2;
    padding-top: 6.5%;
    padding-bottom: 0.1%;
}

.container {
    background-color: transparent;
}

.album {
    background-color: transparent;
}

.blockquote-footer {
    color: whitesmoke;
}

.img-thumbnail {
    background-color: dimgray;
}

body {
    background-color: dimgray;
}

.card-hotel {
    background-color: transparent;
    padding: 2px 25px 2px 5px;
    margin-top: 10px;
}

.row {
    background-color: transparent;
    color: #ffd2d2;
}

footer {
    padding: 10px 10px 10px 10px;
    margin-bottom: 0px;
    margin-top: 10px;
    background-color:rgb(41, 41, 41);
}

a {
    color: whitesmoke;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

p {
    background-color: transparent;
    color: white;
}

.footer-address-icon {
    padding-right: 10px;
}